[user]
  name  = GITUSERNAME
  email = GITUSEREMAIL

[core]
  autocrlf     = false
  excludesfile = DOTFILESPATH/gitignore
  quotepath    = false
  whitespace   = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta       = yellow bold
  frag       = magenta bold
  old        = red bold
  new        = green bold
  whitespace = red reverse
[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
  st   = status -bs
  ci   = commit
  cim  = commit -m
  br   = branch
  a    = add
  co   = checkout
  df   = diff -b
  pl   = pull
  ps   = push
  r    = remote -v
  lg   = log --graph --decorate --pretty=oneline --abbrev-commit
  lol  = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls   = ls-files

  # Show files ignored by git:
  ign  = ls-files -o -i --exclude-standard

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

