"*":
  core:
    disabledPackages: [
      "metrics"
      "preview"
    ]
    projectHome: "~/Code"
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "df0bbee6-046c-1b58-c77a-ecce2568a8c3"
  "file-types":
    arb: "source.ruby"
    axslsx: "source.ruby"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  pigments:
    mergeColorDuplicates: true
    sassShadeAndTintImplementation: "bourbon"
  rspec:
    command: "bundle exec rspec -f d"
  tabs:
    usePreviewTabs: true
  "tool-bar":
    fullWidth: false
    iconSize: "12px"
    position: "Top"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view-autoresize":
    maximumWidth: 500
    padding: 10
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
