"*":
  "base16-syntax":
    scheme: "OneDark"
  core:
    closeDeletedFileTabs: true
    colorProfile: "srgb"
    customFileTypes:
      "source.ruby": [
        "arb"
        "axslsx"
      ]
      "text.md": [
        "lsg"
      ]
      "text.slim": [
        "inky-slim"
      ]
    disabledPackages: [
      "metrics"
      "spell-check"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "b90920dd-3963-4980-bcb0-8de5e45adc36"
  "file-icons":
    onChanges: true
  "flex-tool-bar": {}
  "one-dark-ui": {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    mergeColorDuplicates: true
    sassShadeAndTintImplementation: "bourbon"
    sortPaletteColors: "by color"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#000000"
        blue: "#caa9fa"
        cyan: "#9aedfe"
        green: "#5af78e"
        magenta: "#ff92d0"
        red: "#ff6e67"
        white: "#c7c7c7"
        yellow: "#f4f99d"
      zBright:
        brightBlack: "#686868"
        brightBlue: "#caa9fa"
        brightCyan: "#9aedfe"
        brightGreen: "#5af78e"
        brightMagenta: "#ff92d0"
        brightRed: "#ff6e67"
        brightWhite: "#ffffff"
        brightYellow: "#f4f99d"
    core: {}
    style:
      animationSpeed: 0
      defaultPanelHeight: "30%"
      fontFamily: "RobotoMono Nerd Font"
      fontSize: "9"
      theme: "dracula"
  "ruby-test":
    cucumberFileCommand: "bundle exec rspec -f d --tty {relative_path}"
    cucumberSingleCommand: "bundle exec rspec -f d --tty {relative_path}:{line_number}"
    minitestAllCommand: "bundle exec rails test test"
    minitestFileCommand: "bundle exec rails test {relative_path}"
    minitestSingleCommand: "bundle exec rails test {relative_path} -n \"/{regex}/\""
    rspecAllCommand: "bundle exec rspec -f d --tty spec"
    rspecFileCommand: "bundle exec rspec -f d --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec -f d --tty {relative_path}:{line_number}"
    specFramework: "rspec"
    testFramework: "minitest"
  "seti-syntax":
    themeColor: "Red"
  "split-diff":
    hideTreeView: true
  tabs:
    usePreviewTabs: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Bottom"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
  "tree-view-autoresize":
    maximumWidth: 500
    padding: 10
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".js.source":
  "toggle-quotes":
    quoteCharacters: "\"'`"
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
