"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5a3d65ce-d922-4525-8e69-9442e82a3b32"
  "atom-clock":
    dateFormat: " H:mm"
    showClockIcon: true
  "atom-package-deps":
    ignored: []
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "preview"
      "atom-ctags"
    ]
    projectHome: "~/Code"
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Roboto Mono"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "df0bbee6-046c-1b58-c77a-ecce2568a8c3"
  "file-icons":
    onChanges: true
  "file-types":
    arb: "source.ruby"
    axslsx: "source.ruby"
    lsg: "text.md"
  "flex-tool-bar": {}
  linter:
    disabledProviders: [
      "Code Climate"
    ]
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-codeclimate":
    disableTimeout: true
    executablePath: "/usr/local/bin/codeclimate"
    init: false
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 69
  "one-dark-ui": {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    mergeColorDuplicates: true
    sassShadeAndTintImplementation: "bourbon"
    sortPaletteColors: "by color"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282c34"
        blue: "#5daef2"
        cyan: "#51b6c3"
        green: "#96c475"
        magenta: "#c775e0"
        red: "#e26b73"
        white: "#abb2bf"
        yellow: "#d29b61"
      zBright:
        brightBlack: "#282c34"
        brightBlue: "#5daef2"
        brightCyan: "#51b6c3"
        brightGreen: "#96c475"
        brightMagenta: "#c775e0"
        brightRed: "#e26b73"
        brightWhite: "#abb2bf"
        brightYellow: "#d29b61"
    core: {}
    style:
      animationSpeed: 0
      defaultPanelHeight: "30%"
      fontFamily: "Knack Nerd Font"
      fontSize: "10"
      theme: "one-dark"
  "ruby-test":
    rspecAllCommand: "bundle exec rspec -f d --tty spec"
    rspecFileCommand: "bundle exec rspec -f d --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec -f d --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "scroll-searcher": {}
  "split-diff":
    hideTreeView: true
  tabs:
    usePreviewTabs: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Bottom"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  "tree-view-autoresize":
    maximumWidth: 500
    padding: 10
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
