# https://github.com/bevry/cson#what-is-cson

'.source.ruby':
  'Model Structure':
    'prefix': 'comment.model_structure'
    'body': """
        # ==== Configuration

        # ==== Associations

        # ==== Scopes

        # ==== Callbacks

        # ==== Validations

        # ==== Methods
    """

  'aggregate_failures (Block)':
    'prefix': 'agg'
    'body': 'aggregate_failures do\n  $0\nend'

'.source.js':
  'Stimulus Controller Structure':
    'prefix': 'comment.stimulus_controller_structure'
    'body': """
        // ==== Controllers

        // ==== Actions

        // ==== Getters

        // ==== Setters

        // ==== Private

        // ==== Channels
    """
