# https://github.com/bevry/cson#what-is-cson

'.text.slim':
  'Frozen string literal':
    'prefix': 'frozen_string_literal'
    'body': """
    -# frozen_string_literal: true
    """

'.source.ruby':
  'Frozen string literal':
    'prefix': 'frozen_string_literal'
    'body': """
    # frozen_string_literal: true

    """

  'Model Structure':
    'prefix': 'comment.model_structure'
    'body': """
        # ==== Configuration

        # ==== Associations

        # ==== Scopes

        # ==== Callbacks

        # ==== Validations

        # ==== Methods
    """

  'aggregate_failures (Block)':
    'prefix': 'agg'
    'body': 'aggregate_failures do\n  $0\nend'

'.source.js':
  'Stimulus Controller Comment Structure':
    'prefix': 'comment.stimulus_controller_structure'
    'body': """
        // ==== Controllers

        // ==== Actions

        // ==== Getters

        // ==== Setters

        // ==== Private

        // ==== Channels
    """

  'Stimulus Controller Boilerplate':
    'prefix': 'boilerplate.stimulus_controller_structure'
    'body': """
      import ApplicationController from 'support/application_controller'

      export default class extends ApplicationController {

        static targets = []

        connect() {}

        initialize() {}

        // ==== Controllers

        // ==== Actions

        // ==== Getters

        // ==== Setters

        // ==== Private

        // ==== Channels

      }
    """
