# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
# read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "file-tree"
    callback: "tree-view:toggle"
    tooltip:  "Toggle Tree"
  }
  {
    type:     "button"
    icon:     "fold"
    callback: "tree-view:collapse-all"
    tooltip:  "Fold"
  }
  {
    type: "spacer"
  }
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "auto-fix"
    callback: "atom-beautify:beautify-editor"
    tooltip:  "Atom Beautify: Beautify Editor"
  }
  {
    type:     "button"
    icon:     "markdown"
    callback: "markdown-preview:toggle"
    tooltip:  "Markdown: Toggle"
    show:     "markdown"
  }
  {
    type: "spacer"
    show: "ruby"
  }
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "file-check-outline"
    callback: "ruby-test:test-file"
    tooltip:  "Ruby Test: Test File"
    show:     "ruby"
    style:
      color: "#FF6D67"
  }
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "file-replace-outline"
    callback: "ruby-test:test-single"
    tooltip:  "Ruby Test: Test Single"
    show:     "ruby"
    style:
      color: "#FF6D67"
  }
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "sync"
    callback: "ruby-test:test-previous"
    tooltip:  "Ruby Test: Test Previous"
    show:     "ruby"
    style:
      color: "#FF6D67"
  }
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "file-swap-outline"
    callback: "ruby-test-switcher:switch"
    tooltip:  "Ruby Test Switch"
    show:     "ruby"
    style:
      color: "#FF6D67"
  }
  {
    type: "spacer"
  }
  {
    type:    "url"
    icon:    "file"
    url:     "https://foundation.zurb.com/sites/docs/"
    tooltip: "Foundation Documentation"
  }
  {
    type:    "url"
    icon:    "file-code"
    url:     "https://github.com/zurb/foundation-sites/blob/master/scss/settings/_settings.scss"
    tooltip: "Foundation Defaults"
  }
]
