# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
# read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type:     "button"
    iconset:  "mdi"
    icon:     "file-tree"
    callback: "tree-view:toggle"
    tooltip:  "Toggle Tree"
  }
  { type: "spacer" }
  {
    type:     "button"
    icon:     "octoface"
    callback: "github:toggle-git-tab"
    tooltip:  "GitHub: Toggle Git Tab"
  }
  {
    type:     "button"
    icon:     "file-directory"
    callback: "project-viewer:togglePanel"
    tooltip:  "Project Viewer: TogglePanel"
  }
  { type: "spacer" }
  {
    type:     "button"
    iconset:  "fa"
    icon:     "magic"
    callback: "atom-beautify:beautify-editor"
    tooltip:  "Atom Beautify: Beautify Editor"
  }
  {
    type:     "button"
    icon:     "markdown"
    callback: "markdown-preview:toggle"
    tooltip:  "Markdown: Toggle"
    disable:  "!markdown"
  }
  { type: "spacer" }
  {
    type:     "button"
    icon:     "ruby-test"
    callback: "ruby-test:test-file"
    tooltip:  "Ruby Test: Test File"
    disable:  "!ruby"
    style:
      color: "#CAA9FA"
  }
  {
    type:     "button"
    icon:     "generic-test"
    callback: "ruby-test:test-single"
    tooltip:  "Ruby Test: Test Single"
    disable:  "!ruby"
    style:
      color: "#CAA9FA"
  }
  {
    type:     "button"
    icon:     "sync"
    callback: "ruby-test:test-previous"
    tooltip:  "Ruby Test: Test Previous"
    disable:  "!ruby"
    style:
      color: "#CAA9FA"
  }
  { type: "spacer" }
  {
    type:    "url"
    icon:    "file"
    url:     "https://foundation.zurb.com/sites/docs"
    tooltip: "Foundation Documentation"
  }
  {
    type:    "url"
    icon:    "file-code"
    url:     "https://github.com/zurb/foundation-rails/blob/master/vendor/assets/scss/settings/_settings.scss"
    tooltip: "Foundation Defaults"
  }
]
